.jg-footer {
  background: var(--jg-box-black);
  padding: 1.875rem 0;
  text-align: center;
  color: var(--jg-secondary);
}

.jg-footer-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 100%;
}

.jg-footer-fs {
  color: var(--jg-secondary);
  font-size: 2rem;
}

.jg-footer-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 100%;
}

.jg-footer-link {
  height: 30px;
  width: 30px;
  margin: 0 10px;
}
