.jg-footer {
    background: var(--jg-white);
    padding: 1rem 0;
    text-align: center;
    color: var(--jg-primary);
}

.jg-footer-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 100%;
}

.jg-footer-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 100%;
}

.jg-footer-link {
    height: 30px;
    width: 30px;
    margin: 0 10px;
}