@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;800;900&display=swap');

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  padding: 0;
  margin: 0;
  color: var(--jg-white);
  scroll-behavior: smooth;
  font-size: 1rem;
  font-weight: 400;
  background: var(--jg-primary);
}

:root {
  --jg-white: #fff;
  --jg-black: #000;
  --jg-primary: #1a1b22;
  --jg-box-white: #f3f5f9;
  --jg-secondary: #1961fe;
  --jg-box-black: #e5e5e508;
  --jg-light-gray: #afb1b8;
}

body {
  color: var(--jg-white);
  background: var(--jg-primary);
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  height: 100%;
  width: 100%;
}

.jg-body {
  border: 2rem solid #fff;
  border-top: 0;
  border-bottom: 0;
}


h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  font-weight: 400;
}

h1 {
  font-size: 2.5rem;
  line-height: 1.25;
}

h2 {
  font-size: 2rem;
  line-height: 1.25;
}

h3 {
  font-size: 1.5rem;
  line-height: 1.25;
}

h4 {
  font-size: 1rem;
  line-height: 1.25;
}

h5 {
  font-size: 1rem;
  line-height: 1.25;
}

h6 {
  font-size: 1rem;
  line-height: 1.25;
}

a {
  text-decoration: none;
  border-style: none
}

img {
  max-width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
  display: block;
}

section, .jg-section {
  position: relative;
  padding: 5rem 0;
}

ul {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
}

li {
  padding: 0;
  margin: 0;
  display: inline-block;
}

p {
  font-size: 1rem;
  line-height: 1.625;
  color: var(--jg-light-gray);
  font-weight: 400;
  margin: 0;
}

.jg-container {
  max-width: 1610px;
  padding: 0 30px;
  margin: 0 auto;
  width: 100%;
}

/* Scroll Bar */

::-webkit-scrollbar {
  width: 8px;
  height: 4px;
}

::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 100px;
}

::-webkit-scrollbar-thumb {
  border-radius: 100px;
  background-color: var(--jg-secondary);
}

.jg-d-none {
  display: none;
}

.jg-d-block {
  display: block;
}

.jg-fw100 {
  font-weight: 100;
}

.jg-fw200 {
  font-weight: 200;
}

.jg-fw300 {
  font-weight: 300;
}

.jg-fw400 {
  font-weight: 400;
}

.jg-fw500 {
  font-weight: 500;
}

.jg-fw600 {
  font-weight: 600;
}

.jg-fw700 {
  font-weight: 700;
}

.jg-fw800 {
  font-weight: 800;
}

.jg-text-left {
  text-align: left;
}

.jg-text-right {
  text-align: right;
}

.jg-text-center {
  text-align: center;
}

.jg-w100 {
  width: 100%;
}

.jg-w1076 {
  max-width: 1076px;
  margin: 0 auto;
  width: 100%;
}

.jg-w360 {
  max-width: 360px;
  margin: 0 auto;
  width: 100%;
}

.jg-w760 {
  max-width: 760px;
  margin: 0 auto;
  width: 100%;
}

.jg-py {
  padding: 5rem 0;
}

.jg-span {
  color: var(--jg-secondary);
}

.jg-overflow-hidden {
  overflow: hidden;
}

.jg-pt30 {
  padding-top: 30px;
}

.jg-pb30 {
  padding-bottom: 30px;
}

.jg-mt30 {
  margin-top: 30px;
}

.jg-mb30 {
  margin-bottom: 30px;
}

.jg-heading {
    letter-spacing: .4px;
    font-size: 1rem;
    color: var(--jg-white);
    font-weight: 600;
    display: inline-block;
    text-transform: uppercase;
    padding: 2px 6px;
    border: 1px solid var(--jg-secondary);
}

.jg-pr {
  position: relative;
}

.jg-pa {
  position: absolute;
}

.jg-dflex {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  width: 100%;
}

.jg-button {
  color: var(--jg-white);
  text-align: center;
  text-transform: uppercase;
  white-space: nowrap;
  background: var(--jg-secondary);
  padding: 10px 24px;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  border-style: none;
  display: inline-block;
  transition: background 0.2s ease-in-out 0s;
}

.jg-button:hover {
  background: #5288fe;
}

.form-input {
  width: 100%;
  color: var(--jg-white);
  background-color: var(--jg-box-black);
  border: none;
  padding: 1rem;
  height: 48px;
  display: block;
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
}

.form-input-textarea {
  height: 112px;
  resize: none;
}

.input-label {
  color: var(--jg-white);
  padding-bottom: 0.5rem;
  display: block;
  font-size: 1rem;
  font-weight: 500;
}

.form-input:focus-visible {
  outline: none;
}

.jg-heading-wrap {
  padding-bottom: 1.875rem;
}

.jg-heading-subtitle {
  letter-spacing: .4px;
  font-size: 1rem;
  color: var(--jg-white);
  font-weight: 600;
  display: inline-block;
  margin-bottom: 0.5rem;
  text-transform: uppercase;
  padding: 2px 6px;
  border: 1px solid var(--jg-secondary);
}
