@media (max-width: 1440px) {
  .jg-info-image-wrapper {
    max-width: 550px;
    height: 650px;
  }
  .jg-grid-four,
  .jg-grid-two {
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    grid: auto / 1fr 1fr 1fr;
  }
}

@media (max-width: 1024px) {
  .jg-grid {
    grid-auto-flow: row;
    grid: 1fr / 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }
  .jg-grid-four,
  .jg-grid-two {
    grid: auto / 1fr 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
  }
  .jg-text-right {
    text-align: left;
  }
  .jg-text-center {
    text-align: left;
  }
  .jg-hero-info {
    padding-top: 30px;
    padding-bottom: 0;
  }
  .jg-about-flex {
    flex-flow: column;
    gap: 3rem;
  }

  .jg-about-flex-item-first {
    position: unset;
    top: unset;
  }

  .jg-info-item {
    max-width: 100%;
  }
  .jg-info-image-wrapper {
    max-width: 100%;
    height: auto;
  }
  .jg-info-item-last {
    margin-bottom: 0rem;
  }
  .jg-info-heading {
    margin-bottom: 1.875rem;
  }
  .jg-grid-order-1 {
    order: 1;
  }
  .jg-grid-order-2 {
    order: 2;
  }
  .jg-grid-order-3 {
    order: 3;
  }
}

@media (max-width: 991px) {
  .jg-header {
    padding: 1rem 0;
  }
  section,
  .jg-section {
    padding: 3rem 0;
  }

  .jg-header-menu-icon {
    display: block;
  }

  .jg-header-menu-right ul li {
    display: block;
    padding-bottom: 1.875rem;
    padding-top: 0;
  }
  .jg-header-link {
    width: 100%;
    margin: 0;
    padding: 1.875rem;
  }
  .jg-contact-grid {
    flex-wrap: wrap;
    gap: 0;
  }
  .jg-contact-grid-item {
    width: 100%;
  }

  .jg-header-menu-right {
    display: none;
  }

  .jg-contact-grid-item-last {
    padding-top: 1.875rem;
  }

  .Header-image-wrapper {
    height: 50px;
    width: 50px;
    margin-left: 10px;
    margin-right: 0px;
  }
}

@media (max-width: 768px) {
  section,
  .jg-section {
    padding: 1.875rem 0;
  }
  .jg-project-card {
    height: 250px;
  }
  .jg-grid-four,
  .jg-grid-two {
    grid: auto / 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
  }
  .jg-project-info-wrap {
    grid: auto / 1fr 1fr;
  }
}

@media (max-width: 576px) {
  .form-grid {
    grid: auto / 1fr;
    grid-auto-flow: row;
  }
  .jg-project-info {
    padding: 1rem;
  }
  .jg-project-info-wrap {
    grid: auto / 1fr;
  }
  .jg-about-box-btn {
    flex-direction: column;
  }
}

@media (max-width: 425px) {
  .jg-about-box-social-links ul {
    flex-wrap: wrap;
  }
  .jg-skills-wrap {
    grid: auto / 1fr;
  }
}

@media (max-width: 375px) {
}

@media (max-width: 320px) {
}
