.form-grid {
    display: grid;
    grid: auto / 1fr 1fr;
    align-content: center;
    justify-content: space-between;
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    align-items: center;
    grid-auto-flow: column;
}

.jg-contact-grid {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    width: 100%;
    gap: 30px;
}

.jg-contact-grid-item {
    width: 50%;
}

.jg-project-info {
    background: transparent;
    padding: 1.875rem;
    width: 100%;
    text-align: center;
    border: 1px solid #45464a;
    font-weight: 500;
    transition: background 0.5s ease-in-out 0s;
}

.jg-project-info:hover {
    background: rgba(35,37,46,.75);
}

.jg-contact-heading {
    padding-bottom: 10px;
}

.jg-project-info-wrap {
    display: grid;
    grid: auto / 1fr 1fr 1fr;
    align-content: center;
    justify-content: center;
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    align-items: center;
}